{
	debug
	auto_https off
	order coraza_waf first
}

:8080 {
	coraza_waf {
		directives `
		SecRule REQUEST_URI "/denied" "id:2, deny, log, phase:1"
		`
	}
	respond "If you see this message, Coraza and Caddy are working fine!"
}
